<p> <%= 'Nenhum profissional cadastrado' if @profiles.empty? %></p>

<p><% @profiles.each do |profile|%>
    <p><%= link_to profile.social_name, profile%> <BR>
    - Descrição: <%= profile.description%> <BR>
    - Área de atuação: <%= profile.occupation_area.name%></p>
   <%end%></p>